.o_kanban_view .oe_kanban_color_0 {
	background-color: white;
	color: #5a5a5a;
}
.o_kanban_view .oe_kanban_color_1 {
	background-color: #CCCCCC;
	color: white;
}
.o_kanban_view .oe_kanban_color_2 {
	background-color: #FFC7C7;
	color: white;
}
.o_kanban_view .oe_kanban_color_3 {
	background-color: #FFF1C7;
	color: white;
}
.o_kanban_view .oe_kanban_color_4 {
	background-color: #E3FFC7;
	color: white;
}
.o_kanban_view .oe_kanban_color_5 {
	background-color: #C7FFD5;
	color: white;
}
.o_kanban_view .oe_kanban_color_6 {
	background-color: #C7FFFF;
	color: white;
}
.o_kanban_view .oe_kanban_color_7 {
	background-color: #C7D5FF;
	color: white;
}
.o_kanban_view .oe_kanban_color_8 {
	background-color: #E3C7FF;
	color: white;
}
.o_kanban_view .oe_kanban_color_9 {
	background-color: #FFC7F1;
	color: white;
}