@charset "UTF-8";

/* ---- Page ---- */
.cust_opennet_page {
    padding-top:20px !important;
    font-family: helvetica !important; 
    /*font-size: 10px !important;*/
}

/* -- Address -- */
.cust_opennet_inv_address{
    margin-top : 90px !important; 
    line-height: 17px !important; 
    font-size: 12px !important;
}
